
.icon {
    position: relative;
    margin: 5vh 5vw 5vh 5vw;
    text-align: center;
}

.icon:hover {
    cursor: pointer;
}

.icon p{
    font-size: 1vw;
}

.fileImage {
    width: 60px;
}

.button {
    font-size: 1vw;
    display: inline;
    border-radius: 1vw;
    padding: 5px 5px 5px 5px;
}

.button:hover {
    cursor: pointer;
}

.renameButton {
    border: 1px solid black;
    margin-right: 2px;
}

.deleteButton {
    border: 1px solid rgb(228, 148, 148);
    background-color: rgb(228, 148, 148);
    border-radius: rgb(228, 148, 148);
    padding: 5px 12px 5px 12px;
    margin-left: 2px;
}

#renameButton {
    cursor: pointer;
    font-size: large;
    color: white;
    background-color: #67b6f9;
    border-radius: 0.5vh;
    border: 1px solid #67b6f9;
}

.bottomLeft {
    border-radius: 2vw;
    padding: 0.2vh 0.5vw 0.2vh 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.contextMenu {
    background-color: white;
    text-align: start;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 0.4rem;
}

.menuItem {
    text-align: center;
    font-size:medium;
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.menuItem:hover {
    background-color: #67b6f9;
}

.deleteMenuItem {
    color: red;
}

.deleteMenuItem:hover {
    background-color: rgb(178, 205, 228);
}